@import '~../../../scss/colours';
@import '~../../../scss/font';

.header {
    width: 100%;
    text-align: center;
    background-color: $primary-blue;
    position: sticky;
    top: 0;
    z-index: 50;

    &__title {
        padding: 2px 0;
        font-family: 'Baloo Bhai', cursive;
        font-size: 30px;
        font-weight: normal;
    }
}

.app-version {
    position: absolute;
    top: 5px;
    right: 5px;

    font-size: 10px;
}