<div class="o-panel profile-panel" *ngFor="let profile of profiles">
    <div class="o-panel__header o-panel__title">
        {{ profile.name }}
    </div>
    <div class="o-panel__content" *ngIf="getProfileSummary(profile); let summary">
        <div class="content-block">
            <span class="weight_bold">Path matches:</span>
            <div>There are {{ summary.urlMatches.total }} path matches on this profile. 
                {{ summary.urlMatches.active }} of these {{ summary.urlMatches.active | isAre }} active, and {{ summary.urlMatches.inactive | isAre: true }} inactive.
            </div>
        </div>
        <div class="content-block">
            <span class="weight_bold">Headers ({{summary.headers.active}} active, {{summary.headers.inactive}} inactive):</span>
            <div>
                <ul class="header-list">
                    <li *ngFor="let header of profile.requestHeaders">
                        <i class="fas" [ngClass]='{"fa-check-circle enabled": header.enabled, "fa-times-circle disabled": !header.enabled}'></i> {{ header.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="o-panel__footer">
        <ul class="profile-actions">
            <li class="icon-container">
                <i class="far fa-trash-alt"></i>
            </li>
            <li class="icon-container">
                <i class="fas fa-edit"></i>
            </li>
            <li>
                <label class="c-switch">
                    <input type="checkbox" checked>
                    <span class="c-switch__slider"></span>
                </label>
            </li>
        </ul>
    </div>
</div>