// Primaries
$primary-blue: #1a3b57;
$primary-blue-light: #2a5375;
$primary-blue-lightest: #47779e;
$primary-blue-dark: #0e273c;
$primary-blue-darkest: #061e32;

// Accents
$accent-orange: #ffa733;

// State indication
$positive-green: #438061;
$negative-red: #fb7f7f;

// Other
$background-grey: #2a2a2a;
$background-grey-light: #2e2e2e;
$background-grey-dark: #202020;
$background-grey-darkest: #1f1f1f;